@font-face {
  font-family: "Maglony";
  src: url("../public/fonts/maglony-webfont.woff") format("woff");
}

@font-face {
  font-family: "Degular";
  src: url("../public/fonts/Degular/Degular.otf") format("otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Malgony, Degular}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.head-text{
  font-family: 'Malgony';
}

